.word {
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.letter {
  height: 20vh;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}

.letter:hover {
  width: 15vw;
}

.animated-letter {
  height: 100%;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.indigo {
  background-color: indigo;
}

.violet {
  background-color: violet;
}